<div class="main-header">
  <div class="main-page-header">
    <h1 class="page-header">Gutenberg Project</h1>
    <p class="page-header-content">
      A social cataloging website that allows you to freely search its database
      of books, annotations and reviews.
    </p>
  </div>
  <div class="items-list">
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center shadow-sm p-3 mb-5 bg-white rounded"
        *ngFor="let item of items"
        (click)="getBookList(item)"
      >
        <span>
          <svg-icon
            [src]="item.imgUrl"
            [svgStyle]="{ 'width.px': 30, 'margin.px': 10 }"
          ></svg-icon>
          <span>{{ item.name.toUpperCase() }}</span>
        </span>
        <svg-icon
          src="assets/img/Next.svg"
          [svgStyle]="{
            'width.px': 30,
            'margin-left.px': 170,
            position: relative
          }"
        ></svg-icon>
      </li>
    </ul>
  </div>
</div>
